.client {
  @extend %section;

}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}



.client-list__item {

  @media screen and (max-width: 767px) {
    width: calc((100%-2*30px)/2);
    font-size: 28px;
    line-height: 1.18 ;
  }

  @media screen and (min-width:768px){
    width: calc((100%-3*30px)/3);
  }
  @media screen and (min-width:1200px) {
    width: calc((100%-6*30px)/6);
    
  }

}

.client-list__link {
  @include centeredFlex();
  height: 92px;
  border: 1px solid $icons;
  color: $icons;
  border-radius: 4px;
  margin: 15px;

  transition: color 250ms $timing-function,
  border 250ms $timing-function;

  &:hover {
    @include hoverAccent();
    }
  
  &:focus {
    @include hoverAccent();
  }

 
}

.client-list__logo {
  height: 60px;
  fill: currentColor
}