.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;

  @media screen and (min-width:768px){
    padding: 0;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media screen and (min-width:768px){
    justify-content: space-between;
  }
  
}

.logo {
 
  color: $title-text-color;
  font-family: Raleway, sans-serif;
  @include fontSize(24px, 1.16);
  text-decoration: none;
  &__accent {
    color: $accent-color;
  }

  @media screen and (min-width:1200px) {
    margin-right: 93px;
    @include fontSize(26px, 1.19);
  }
}

/* site-nav */

.site-nav {
  position: relative;

  @media screen and (min-width:768px){
    display: flex;
    align-items: center;
  }
  
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width:768px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav__link {
  color: $title-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }

  &.current {
    position: relative;
    color: $accent-color;
  }
  @media screen and (min-width: 768px){
    @include fontSize (14px, 1.14);
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &.current:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $accent-color;
      border: 2px solid $accent-color;
      border-radius: 2px;
    }
  }
  
}
.contacts {
  display: flex;
  height: 100%;
}
/* auth-nav */
.auth-nav {
  display: flex;
  flex-direction: column-reverse;

@media screen and (min-width:768px){
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 84px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  flex-direction: row;
  align-items: center;
}

}

.auth-nav__item {
  @media screen and (max-width: 767px) {
    margin-top: 32px;
 }
 &:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;}
  }
}
.auth-nav__link {
  margin-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  @include fontSize (24px, 1.17);
  letter-spacing: 0.02em;
  text-decoration: none;
  
  align-items: center;

  transition: color 250ms $timing-function;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }
    @media screen and (min-width:480px){
      @include fontSize (24px, 1.17);
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 0;
      @include fontSize (12px, 1.16)

    }
    @media screen and (min-width: 1200px) {
      @include fontSize (14px, 1.14);
      margin-top: 0;
    }
}
.auth-nav__item +.auth-nav__item .auth-nav__link {
  @include fontSize (24px, 1.18);
  letter-spacing: 0.02em;

  @media screen and (min-width:480px) {
    @include fontSize (34px, 1.18);
  }
  @media screen and (min-width: 768px) {
    @include fontSize (12px, 1.16);
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    @include fontSize (14px, 1.14);
    margin-top: 0;
  }

}

.auth-nav__mail {
  @media screen and (max-width:767px) {
    display: none;
  }
  
  @media screen and (min-width:768px) {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 10px;
  }
  @media screen and (min-width:1200px){
    width: 16px;
    height: 12px;
  }
}


.auth-nav__tel {
  @media screen and (max-width:767px){
    display: none;
  }
  @media screen and (min-width:768px){
    display: block;
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
 
  @media screen and (min-width:1200px) {
    width: 10px;
    height: 16px;
  }
}
.soc-nav{
  @media screen and (min-width: 768px){
    display: none;
  }
}
.soc-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.soc-navigation__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}


.soc-navigation__link {
  padding: 0 10px;
  @include fontSize(12px, 1.22);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;

  @media screen and (min-width:480px) {
    @include fontSize(18px, 1.22);
  }
}



