.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  // display: flex;
  // margin-right: 93px;

  color: $title-text-color;
  font-family: Raleway, sans-serif;
  @include fontSize(26px, 1.19);
  text-decoration: none;
}

.logo__accent {
  color: $accent-color;
}

/* site-nav */

.site-nav {
  // font-weight: 500;
  // font-size: 40px;
  // line-height: 1.18;
  // letter-spacing: 0.02em;
//   position: relative;
//   display: flex;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link {
  // display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }

  &.current {
    position: relative;
    color: $accent-color;
  }

  // &.current:after {
  //   content: '';
  //   position: absolute;
  //   bottom: -1px;
  //   left: 0;
  //   height: 4px;
  //   width: 100%;
  //   background-color: $accent-color;
  //   border: 2px solid $accent-color;
  //   border-radius: 2px;
  // }
}

/* auth-nav */
.auth-nav {
  margin-top: 302px;
//   display: flex;
//   justify-content: flex-end;
//   margin-left: auto;
//   align-items: center;
}

// .auth-nav__item+.auth-nav__item {
//   margin-top: 32px;
// }

.auth-nav__link {
  // display: flex;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  align-items: center;

  transition: color 250ms $timing-function;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }
}
.auth-nav__link--changed {
  display: inline-block;
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.auth-nav__mail {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}


.auth-nav__tel {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.soc-navigation {
  display: flex;
  margin-top: 64px;
}
.soc-navigation__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}


.soc-navigation__link {
  @include centeredFlex();
  padding: 0 10px;
  @include fontSize(18px, 1.22);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
}



