.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: -15px;
}

.card-set__item {
  display: flex;

  &:nth-last-child(-n+1) {
    margin-bottom: 0;
  }

  &:hover .product__overlay {
    transform: translateY(0);
  }

    @media screen and (min-width: 768px) {
      width: calc((100%-2*30px)/2);
    }
  
    @media screen and (min-width:1200px) {
      width: calc((100%-3*30px)/3);
    }
}
.card-set__wrap {
margin: 15px;
}
.product {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  color: $primary-text-color;
  @include fontSize(16px, 1.88);
  letter-spacing: 0.03em;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $timing-function;
  @include fontSize(18px, 1.56);
  letter-spacing: 0.03em;
  padding: 77px 24px;
  color: $white-color;
}

.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  // display: block;

  color: $title-text-color;
  text-decoration: none;

  transition: box-shadow 250ms $timing-function;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus .product__overlay {
    transform: translateY(0);
  }
}

.product__meta {
  flex-grow: 1;
  background-color: $white-color;
  border: 1px solid $borders;
  border-top: transparent;
  padding: 20px 24px;
}

.product__title {
  font-weight: 700;
  @include fontSize(18px, 2);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}