$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #F5F4FA;
$footer-color: #2f303a;
$borders: #EEEEEE;
$retreat: 60px;
$icons: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);